/* Overall Page Styling */
h2 {
    margin-top: 20px;
    margin-bottom: 10px;
}
/* Menu Navigation */
#menunav {
    border-bottom: 2px solid #ab1f25;
    background-color: #ab1f25;
    position: fixed;
    width: 15%;
    text-align: center;
    margin: 85px 0 0 10px;
    padding: 10px 20px;
    box-shadow: 2px 2px 4px #242424;
    border: 5px double #fef2e0;
}
#menunav ul {
    text-align: center;
    padding: 0;
}
#menunav ul li {
    list-style-type: none;
    padding-bottom: 5px;
}

/* Menu Styling */
#specials {
    margin-top: 10px;
    width: 100%;
    text-align: center;
}
#specials ul {
    margin-top: 0;
    display: inline-block;
    text-align: left;
}
#specials ol {
    text-align: left;
    width: 40%;
    background-color: #f9dcdc;
    padding-top: 10px;
    padding-bottom: 10px;
}
.specials-description {
    margin: 0 auto 20px auto;
    font-size: 18px;
    text-align: center;
}
.lunch-dinner {
    width: 69%;
    text-align: right;
    word-spacing: 25px;
    font-style: italic;
    font-size: 18px;
}
.lunch {
    margin: auto;
    padding: 15px;
    width: 25%;
    height: 100%;
    display: inline-block; 
    background-color: #f9dcdc;
}
.lunch ul {
    font-size: 18px;
}
.dinner {
    margin: auto;
    padding: 15px;
    width: 25%;
    height: 100%;
    display: inline-block;
    background-color: #f9dcdc;
}
.dinner ul {
    font-size: 18px;
}
#appetizers {
    text-align: center;
}
#appetizers ol {
    list-style-type: none;
    padding-left: 0;
    text-align: left;
    width: 50%;
}
#appetizers ol li {
    background-color: #f9dcdc;
    margin-bottom: 10px;
    padding: 10px 20px 10px 20px;
}
#soup {
    text-align: center;
}
#soup ol {
    list-style-type: none;
    padding-left: 0;
    text-align: left;
    width: 50%;
}
#soup ol li {
    background-color: #f9dcdc;
    margin-bottom: 10px;
    padding: 10px 20px 10px 20px;
}
#fried-rice {
    text-align: center;
}
#fried-rice ol {
    list-style-type: none;
    padding-left: 0;
    text-align: left;
    width: 50%;
}
#fried-rice ol li {
    background-color: #f9dcdc;
    margin-bottom: 10px;
    padding: 10px 20px 10px 20px;
}
#chow-mein-lo-mein {
    text-align: center;
}
#chow-mein-lo-mein ol {
    list-style-type: none;
    padding-left: 0;
    text-align: left;
    width: 50%;
}
#chow-mein-lo-mein ol li {
    background-color: #f9dcdc;
    margin-bottom: 10px;
    padding: 10px 20px 10px 20px;
}
#egg-foo-young {
    text-align: center;
}
#egg-foo-young ol {
    list-style-type: none;
    padding-left: 0;
    text-align: left;
    width: 50%;
}
#egg-foo-young ol li {
    background-color: #f9dcdc;
    margin-bottom: 10px;
    padding: 10px 20px 10px 20px;
}
#house-specialties {
    text-align: center;
}
#house-specialties ol {
    list-style-type: none;
    padding-left: 0;
    text-align: left;
    width: 50%;
}
#house-specialties ol li {
    background-color: #f9dcdc;
    margin-bottom: 10px;
    padding: 10px 20px 10px 20px;
}
#chop-suey {
    text-align: center;
}
#chop-suey ol {
    list-style-type: none;
    padding-left: 0;
    text-align: left;
    width: 50%;
}
#chop-suey ol li {
    background-color: #f9dcdc;
    margin-bottom: 10px;
    padding: 10px 20px 10px 20px;
}
#chicken {
    text-align: center;
}
#chicken ol {
    margin: auto;
    list-style-type: none;
    padding-left: 0;
    text-align: left;
    counter-reset: num;
    width: 50%;
}
#chicken ol li:before {
    counter-increment: num;
    content: "C" counter(num) ". ";
}
#chicken ol li {
    background-color: #f9dcdc;
    margin-bottom: 10px;
    padding: 10px 20px 10px 20px;
}
#seafood {
    text-align: center;
}
#seafood ol {
    margin: auto;
    list-style-type: none;
    padding-left: 0;
    text-align: left;
    counter-reset: num;
    width: 50%;
}
#seafood ol li {
    background-color: #f9dcdc;
    margin-bottom: 10px;
    padding: 10px 20px 10px 20px;
}
#seafood ol li:before {
    counter-increment: num;
    content: "S" counter(num) ". ";
}
#beef {
    text-align: center;
}
#beef ol {
    margin: auto;
    list-style-type: none;
    padding-left: 0;
    text-align: left;
    counter-reset: num;
    width: 50%;
}
#beef ol li {
    background-color: #f9dcdc;
    margin-bottom: 10px;
    padding: 10px 20px 10px 20px;
}
#beef ol li:before {
    counter-increment: num;
    content: "B" counter(num) ". ";
}
#vegetable {
    text-align: center;
}
#vegetable ol {
    list-style-type: none;
    padding-left: 0;
    text-align: left;
    width: 50%;
}
#vegetable ol li {
    background-color: #f9dcdc;
    margin-bottom: 10px;
    padding: 10px 20px 10px 20px;
}
#pork {
    text-align: center;
}
#pork ol {
    margin: auto;
    list-style-type: none;
    padding-left: 0;
    text-align: left;
    counter-reset: num;
    width: 50%;
}
#pork ol li {
    background-color: #f9dcdc;
    margin-bottom: 10px;
    padding: 10px 20px 10px 20px;
}
#pork ol li:before {
    counter-increment: num;
    content: "P" counter(num) ". ";
}
#sides {
    text-align: center;
    margin-bottom: 20px;
}
#sides ol {
    list-style-type: none;
    padding-left: 0;
    text-align: left;
    width: 50%;
}
#sides ol li {
    background-color: #f9dcdc;
    margin-bottom: 10px;
    padding: 10px 20px 10px 20px;
}
.price-layout {
    display: inline-block;
    margin: 0;
}
.price-description {
    padding-left: 18%;
    word-spacing: 20px;
    font-style: italic;
    font-size: 18px;
}
.size-price {
    width: 73%;
    text-align: right;
    word-spacing: 25px;
    font-style: italic;
    font-size: 18px;
}
.price-layout li {
    padding: 0 30px 5px 0;
}
.price-layout li > ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.custom-list-number {
    width: 40px;
    margin: 0;
    padding: 0 10px 0 0;
    text-align: left;
    float: left;
}

.price {
    float: right;
    word-spacing: 20px;
}

.crab-rangoon-price {
    float: right;
}
.spacing {
    margin-left: 20px;
}

.description {
    margin: 0;
    padding: 10px 0 0 50px;
    text-align: left;
    font-style: italic;
    font-size: 18px;
    clear: right;
}