h2 {
    margin-bottom: 10px;
}

/* Menu Styling */
.specials {
    text-align: center;
}
.specials ul {
    margin-top: 0;
    display: inline-block;
    text-align: left;
}
.appetizers {
    width: 45%;
}
.appetizers ol {
    list-style-type: none;
    padding-left: 0;
    text-align: left;
}
.soup {
    width: 45%;
}
.soup ol {
    list-style-type: none;
    padding-left: 0;
    text-align: left;
}
.fried-rice {
    width: 45%;
}
.fried-rice ol {
    list-style-type: none;
    padding-left: 0;
    text-align: left;
}
.chow-mein-lo-mein {
    width: 45%;
}
.chow-mein-lo-mein ol {
    list-style-type: none;
    padding-left: 0;
    text-align: left;
}
.egg-foo-young {
    width: 45%;
}
.egg-foo-young ol {
    list-style-type: none;
    padding-left: 0;
    text-align: left;
}
.house-specialties {
    width: 45%;
}
.house-specialties ol {
    list-style-type: none;
    padding-left: 0;
    text-align: left;
}
.chop-suey {
    width: 45%;
}
.chop-suey ol {
    list-style-type: none;
    padding-left: 0;
    text-align: left;
}
.chicken {
    width: 45%;
    padding: 0;
    text-align: left;
}
.chicken ol {
    list-style-type: none;
    padding-left: 0;
    counter-reset: num;
}
.chicken ol li {
    padding-bottom: 10px;
}
.chicken ol li:before {
    counter-increment: num;
    content: "C" counter(num) ". ";
}
.seafood {
    width: 45%;
    padding: 0;
    text-align: left;
}
.seafood ol {
    list-style-type: none;
    padding-left: 0;
    counter-reset: num;
}
.seafood ol li {
    padding-bottom: 10px;
}
.seafood ol li:before {
    counter-increment: num;
    content: "S" counter(num) ". ";
}
.beef {
    width: 45%;
    padding: 0;
    text-align: left;
}
.beef ol {
    list-style-type: none;
    padding-left: 0;
    counter-reset: num;
}
.beef ol li {
    padding-bottom: 10px;
}
.beef ol li:before {
    counter-increment: num;
    content: "B" counter(num) ". ";
}
.vegetable {
    width: 45%;
}
.vegetable ol {
    list-style-type: none;
    padding-left: 0;
    text-align: left;
}
.pork {
    width: 45%;
    padding: 0;
    text-align: left; 
}
.pork ol {
    list-style-type: none;
    padding-left: 0;
    counter-reset: num;
}
.pork ol li {
    padding-bottom: 10px;
}
.pork ol li:before {
    counter-increment: num;
    content: "P" counter(num) ". ";
}
.sides {
    width: 45%;
}
.sides ol {
    list-style-type: none;
    padding-left: 0;
    text-align: left;
}
.price-layout {
    display: inline-block;
    margin: 0;
}
.price-layout li {
    padding: 0 30px 5px 0;
}
.price-layout li > ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.food-txt {
    width: 250px;
    padding: 0;
    margin: 0;
}

.custom-list-number {
    width: 40px;
    margin: 0;
    padding: 0 10px 0 0;
    text-align: left;
    float: left;
}