/* Overall Page Styling */
h2 {
    margin-top: 2.5rem;
    margin-bottom: 0.625rem;
}


/* Menu Navigation */
#menunav {
    border-bottom: 0.125rem solid #ab1f25;
    background-color: #ab1f25;
    position: fixed;
    width: 15%;
    text-align: center;
    margin: 0.625rem 0 0 0.313rem;
    padding: 0 1.25rem;
    box-shadow: 0.125rem 0.125rem 0.25rem #333333;
    border: 0.313rem double #fef2e0;
}
#menunav ul {
    text-align: center;
    padding: 0;
}
#menunav ul li {
    list-style-type: none;
    padding-bottom: 0.25rem;
}

div {
    scroll-margin-top: 6.25rem;
}


/* General Menu Styling */
.spicy {
    color:#ab1f25;
}
em img {
    width: 0.438rem;
    height: auto;
}

.price-layout {
    display: inline-block;
    margin: 0;
    list-style-type: none;
    padding-left: 0;
    text-align: left;
    width: 60%;
}
.price-layout li {
    background-color: #f9dcdc;
    margin-bottom: 0.625rem;
    padding: 0.625rem 1.25rem 0.625rem 1.25rem;
}

.size {
    width: 77%;
    text-align: right;
    word-spacing: 1.5rem;
    font-style: italic;
    font-size: 0.85rem;
}

.custom-list-number {
    width: 2.5rem;
    margin: 0;
    padding: 0 0.625rem 0 0;
    text-align: left;
    float: left;
}

.price {
    float: right;
    word-spacing: 1.25rem;
}

.spacing {
    margin-left: 1.25rem;
}

.description {
    margin: 0;
    padding: 0.625rem 0 0 3.125rem;
    text-align: left;
    font-style: italic;
    font-size: 0.9rem;
    clear: right;
}

.small-txt {
    margin: 0 auto;
    text-align: center;
    width: 50%;
}
.small-txt p {
    margin: 0;
}


/* Specific Menu Styling */

#specials {
    margin-top: 0.625rem;
    width: 100%;
    text-align: center;
}
#specials ul {
    margin-top: 0;
    display: inline-block;
    text-align: left;
}

.specials-description {
    margin: 0 auto 1.25rem auto;
    font-size: 0.9rem;
    text-align: center;
}

.lunch {
    margin: auto;
    padding: 0.938rem;
    width: 25%;
    height: 100%;
    display: inline-block; 
    background-color: #f9dcdc;
}
.lunch ul {
    font-size: 0.85rem;
}
.dinner {
    margin: auto;
    padding: 0.938rem;
    width: 25%;
    height: 100%;
    display: inline-block;
    background-color: #f9dcdc;
}
.dinner ul {
    font-size: 0.85rem;
}

.lunch-dinner-price {
    width: 68%;
    text-align: right;
    word-spacing: 1.5rem;
    font-style: italic;
    font-size: 0.85rem;
    margin-bottom: 0.25rem;
}
.lunch-dinner-layout {
    text-align: left;
    width: 40%;
    background-color: #f9dcdc;
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
    display: inline-block;
    margin: 0;
}
.lunch-dinner-layout li {
    padding: 0 1.875rem 0.313rem 0;
}
.lunch-dinner-layout li > ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
}


#appetizers {
    text-align: center;
}
.crab-rangoon-price {
    float: right;
}

#soup {
    text-align: center;
}
#fried-rice {
    text-align: center;
}
#chow-mein-lo-mein {
    text-align: center;
}
#egg-foo-young {
    text-align: center;
}
#house-specialties {
    text-align: center;
}
#chop-suey {
    text-align: center;
}
#chicken {
    text-align: center;
}
#seafood {
    text-align: center;
}
#beef {
    text-align: center;
}
#vegetable {
    text-align: center;
}
#pork {
    text-align: center;
}
#sides {
    text-align: center;
    margin-bottom: 1.25rem;
}


/* Food picture styling */
.food-pic {
    max-width: 60%;
    height: auto;
    margin: 0.625rem auto;
    display:block;
    border: 0.313rem solid #ab1f25;
}
.big-food-pic {
    max-width: 30%;
    height: auto;
    margin: 0.625rem auto;
    display:block;
    border: 0.313rem solid #ab1f25;
}
.side-by-side-food-pic {
    max-width: 45%;
    margin: 0.625rem auto;
}
.side-by-side-food-pic img {
    max-width: 45%;
    height: auto;
    display:inline-block;
    border: 0.313rem solid #ab1f25;
}