html { font-size: 20px; }

/* Body */
body {
    margin: 80px 0 0;
    color: black;
    background-color: #fef2e0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h1 {
    margin:0;
    text-align: center;
    color: #fef2e0;
}
h2 {
    color: #ab1f25;
}
footer {
    padding: 0.063rem;
    clear: both;
    font-size: 0.625rem;
    text-align: center;
    color: #fef2e0;
    background-color: #ab1f25;
}

/* Facebook Logo */
.facebook:link {
    color: black;
}
.facebook:hover {
    color: black;
}
.facebook:visited {
    color: black;
}
.facebook img {
    width: 18px;
    height: auto;
    margin-right: 10px;
}

/* Links */
a:link {
    color: #fef2e0;
    text-decoration: none;
}
a:hover {
    color: #fef2e0;
    text-decoration: underline;
}
a:visited {
    color: #fef2e0;
    text-decoration: none;
}


/* Button on the header */
.button {
    border: 2px solid #fef2e0;
    border-radius: 10px;
    padding: 10px;
    font-weight: bold;
}
.button:hover {
    background-color: rgba(255, 255, 255, 0.4);
    text-decoration: none;
}

#mainbody {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
    margin: 50px;
    gap: 50px;
}

/* Google Map */
.map {
    width: 600px;
    min-height: 400px;
}
.map iframe {
    height: 100%;
    width: 100%;
    position: static;   
}

/* Information on Index Page */
.main-info {
    width: 500px;
    text-align: center;
}

.business-hours ul {
    margin-top: 0;
    display: inline-block;
    text-align: left;
}
.business-hours {
    display: inline-block;
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.business-hours li {
    padding: 0 1.875rem 0.313rem 0;
}
.business-hours li > ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.days {
    width: 6.25rem;
}


/* Header Page */
header {
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 2rem 0;
    border-bottom: 0.25rem solid #ab1f25;
    text-align: center;
}
header h1 {
    text-transform: uppercase;
    padding-bottom: 1.25rem;
}
.index-header {
    background-image: url('/images/crane.png');
    background-position: right top;
    background-size: cover;
}
.menu-header {
    background-image: url('/images/feast.jpg');
    background-position: right top;
    background-size: cover;
}


/* Navigation Bar */
#mainnav {
    border-bottom: 5px double #fef2e0;
    background-color: #ab1f25;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    box-shadow: 1px 2px 5px #333333;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    align-items: center;
}
#navlink {
    display: flex;
    gap: 40px;
    font-weight: bold;
}

#mainnav img {
    width: 50px;
    height: auto;
    filter: drop-shadow(3px 0 0 #fef2e0) 
            drop-shadow(0 3px 0 #fef2e0)
            drop-shadow(-3px 0 0 #fef2e0) 
            drop-shadow(0 -3px 0 #fef2e0);
}

/* About Us Section */
#aboutus-body {
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
    padding: 20px;
    gap: 30px;
}

.portrait {
    width: 500px;
    height: auto;
    border: 5px solid #ab1f25;
    background-color: #ab1f25;
    float: left;
    display: block;
}
.textbox {
    width: 500px;
    background-color: #ab1f25;
    border: 5px double #fef2e0;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    text-align: center;
    color: #fef2e0;
}
.textbox p {
    padding: 0 50px;
}
.textbox h1 {
    width: 90%;
    padding-bottom: 5px;
    margin: 5px auto;
    border-bottom: 5px double #fef2e0;
}

/* MISC */
.address p {
    margin: 0;
    padding: 0;
}
.underline {
    text-decoration: underline;
    margin-bottom: 0;
}
