/* Body */
body {
    margin: 70px 0 0;
    color: black;
    background-color: #fef2e0;
    font-style: Georgia, serif;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h1 {
    margin:0;
    text-align: center;
    color: #fef2e0;
}
h2 {
    color: #ab1f25;
}
footer {
    padding: 1px;
    clear: both;
    font-size: 10px;
    text-align: center;
    color: #fef2e0;
    background-color: #ab1f25;
}

/* Facebook Logo */
.facebook:link {
    color: black;
}
.facebook:hover {
    color: black;
}
.facebook:visited {
    color: black;
}
.facebook img {
    width: 15px;
    height: 15px;
    margin-right: 5px;
}

/* Links */
a:link {
    color: #fef2e0;
    text-decoration: none;
}
a:hover {
    color: #fef2e0;
    text-decoration: underline;
}
a:visited {
    color: #fef2e0;
    text-decoration: none;
}


/* Button on the header */
.button {
    border: 1px solid #fef2e0;
    border-radius: 10px;
    padding: 10px;
}
.button:hover {
    background-color: rgba(255, 255, 255, 0.4);
    text-decoration: none;
}

/* Google Map */
.map {
    height: 800px;
    width: 50%;
    float: left;
}
.map iframe {
    height: 100%;
    width: 100%;
    position: static;   
}


/* Information on Index Page */
.main-info {
    float: right;
    width: 35%;
    margin: 2% auto 3% auto ;
    padding-right: 5%;
}
.business-hours ul {
    margin-top: 0;
    display: inline-block;
    text-align: left;
}
.business-hours {
    display: inline-block;
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.business-hours li {
    padding: 0 30px 5px 0;
}
.business-hours li > ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.days {
    width: 100px;
}


/* Header for Main Page */
.index-header {
    background-image: url('/images/mon_ck.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 60px 0;
    border-bottom: 4px solid #ab1f25;
    text-align: center;
}
.index-header h1 {
    text-transform: uppercase;
    padding: 0 20px 20px 20px;
}


/* Navigation Bar */
#mainnav {
    border-bottom: 5px double #fef2e0;
    background-color: #ab1f25;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 70px;
    box-shadow: 2px 2px 4px #242424;
}
#mainnav ul {
    text-align: right;
    padding-right: 15px;
}
#mainnav ul li {
    display: inline;
    margin: 0 15px;
    list-style-type: none;
}
#mainnav img {
    float: left;
    padding: 15px;
    margin: 0;
    vertical-align: middle;
    width: 40px;
    height: 40px;
    filter: drop-shadow(2px 0 0 #fef2e0) 
            drop-shadow(0 2px 0 #fef2e0)
            drop-shadow(-2px 0 0 #fef2e0) 
            drop-shadow(0 -2px 0 #fef2e0);
}
/* Portrait */
.portrait {
    width: 40%;
    height: auto;
    margin: 10px;
    border: 5px solid #ab1f25;
    background-color: #ab1f25;
}

/* MISC */
.left {
    float: left;
}
.right {
    float: right;
}
.address p {
    margin: 0;
    padding: 0;
}
.underline {
    text-decoration: underline;
    margin-bottom: 0;
}
.small-txt p {
    margin: 0;
}
.small-txt {
    margin: 0 auto 20px auto;
    font-size: 18px;
    text-align: center;
    width: 50%;
}