html { font-size: 1.5vw; }

/* Body */
body {
    margin: 4.375rem 0 0;
    color: black;
    background-color: #fef2e0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h1 {
    margin:0;
    text-align: center;
    color: #fef2e0;
}
h2 {
    color: #ab1f25;
}
footer {
    padding: 0.063rem;
    clear: both;
    font-size: 0.625rem;
    text-align: center;
    color: #fef2e0;
    background-color: #ab1f25;
}

/* Facebook Logo */
.facebook:link {
    color: black;
}
.facebook:hover {
    color: black;
}
.facebook:visited {
    color: black;
}
.facebook img {
    width: 0.938rem;
    height: auto;
    margin-right: 0.313rem;
}

/* Links */
a:link {
    color: #fef2e0;
    text-decoration: none;
}
a:hover {
    color: #fef2e0;
    text-decoration: underline;
}
a:visited {
    color: #fef2e0;
    text-decoration: none;
}


/* Button on the header */
.button {
    border: 0.063rem solid #fef2e0;
    border-radius: 0.625rem;
    padding: 0.625rem;
}
.button:hover {
    background-color: rgba(255, 255, 255, 0.4);
    text-decoration: none;
}

/* Google Map */
.map {
    height: 40rem;
    width: 50%;
    float: right;
}
.map iframe {
    height: 100%;
    width: 100%;
    position: static;   
}


/* Information on Index Page */
.main-info {
    float: left;
    padding-left: 10%;
}
.business-hours ul {
    margin-top: 0;
    display: inline-block;
    text-align: left;
}
.business-hours {
    display: inline-block;
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.business-hours li {
    padding: 0 1.875rem 0.313rem 0;
}
.business-hours li > ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.days {
    width: 6.25rem;
}


/* Header Page */
header {
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 2rem 0;
    border-bottom: 0.25rem solid #ab1f25;
    text-align: center;
}
header h1 {
    text-transform: uppercase;
    padding-bottom: 1.25rem;
}
.index-header {
    background-image: url(../images/crane.png);
}
.menu-header {
    background-image: url(../images/feast.jpg);
}


/* Navigation Bar */
#mainnav {
    border-bottom: 0.313rem double #fef2e0;
    background-color: #ab1f25;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 4.375rem;
    box-shadow: 0.2rem 0.2rem 0.2rem #333333;
}
#mainnav ul {
    text-align: right;
    margin-top: 1.5rem;
    padding-right: 0.938rem;
}
#mainnav ul li {
    display: inline;
    margin: 0 0.938rem;
    list-style-type: none;
}
#mainnav img {
    float: left;
    padding: 0.938rem;
    margin: 0;
    vertical-align: middle;
    width: 2.5rem;
    height: 2.5rem;
    filter: drop-shadow(0.125rem 0 0 #fef2e0) 
            drop-shadow(0 0.125rem 0 #fef2e0)
            drop-shadow(-0.125rem 0 0 #fef2e0) 
            drop-shadow(0 -0.125rem 0 #fef2e0);
}

/* Mainly for About Us Section */
.portrait {
    width: 40%;
    height: auto;
    margin: 1.25rem 0.625rem 1.25rem 1.25rem;
    border: 0.313rem solid #ab1f25;
    background-color: #ab1f25;
    float: left;
    display: block;
}
.textbox {
    margin: 1.25rem;
    padding: 1.25rem;
    background-color: #ab1f25;
    border: 0.313rem double #fef2e0;
    display: inline-block;
    width: 45%;
    text-align: center;
    vertical-align: middle;
}
.textbox p {
    color: white;
    padding: 0 1.25rem;
    font-size: 1.20rem;
}
.textbox h1 {
    width: 90%;
    padding: 0.625rem;
    margin: 0.625rem auto 1.875rem;
    border-top: 0.313rem double #fef2e0;
    border-bottom: 0.313rem double #fef2e0;
}

/* MISC */
.left {
    float: left;
}
.right {
    float: right;
}
.address p {
    margin: 0;
    padding: 0;
}
.underline {
    text-decoration: underline;
    margin-bottom: 0;
}
